%tr
  %td
    = link_to answer.question.question_text, '#'
    %br
    Posted on:
    %span.light= answer.question.created_at.strftime "%-m/%-d/%Y %I:%M %p"
  %td.see_answers= link_to image_tag("/assets/dashboard/invite_friends.jpg")