%tr
  %td.question_item
    = link_to question.question_text_pretty, question_path(question)
    %br
    Posted on:
    %span.quiet= question.created_at.strftime "%-m/%-d/%Y %I:%M %p"
  - if question.answers.count < 5
    %td.invite_friends
      = link_to "Invite Friends", '#', :data => {'question-id' => question.id}
  - else
    %td.see_answers
      = link_to "See Answers", question_path(question)