%tr
  %td.question_item
    = link_to question.question_text_pretty, question_path(question)
    %br
    Posted on:
    %span.quiet= question.created_at.strftime "%-m/%-d/%Y %I:%M %p"
  - if question.answers.count < 5
    %td.invite_friends
      =# link_to image_tag("questions/invite_friends_button.png"), '#', :data => {'question-id' => question.id}
      = link_to image_tag("questions/invite_friends_button.png"), share_question_path(question)
  - else
    %td.see_answers
      = link_to image_tag("questions/see_answers_button.png"), question_path(question)