= content_for :side_menu do
  &nbsp;

%h1
  CritiqueMe Flagged Questions

%table.merchants.smoothness.highlighter
  %thead
    %tr
      %th Question
      %th Flagger
      %th Reason
      %th &nbsp;
  %tfoot
    %tr
      %td{:colspan => 4}
        = will_paginate
  %tbody
    - if @flagged_questions.empty?
      %tr
        %td{:colspan => 4}
          %em No flagged questions found.
    - else
      = render @flagged_questions
