@import "dashboard/inner_tabs"

// table layout
#dashtable
  td
    border-bottom: 1px solid #EFEFEF
  .none_posted
    text-align: center
    font-size: 1.2em
    padding: 10px 0px

  .question_item
    a
      font-weight: bold
      text-decoration: none
      &:hover
        text-decoration: underline
  .see_answers, .invite_friends
    text-align: right