@import cm_base2

// table layout
#dashtable
  width: 95%
  padding: 25px 0px
  margin: 0px auto
  margin-top: 25px
  margin-bottom: 25px
  border-collapse: collapse
  td
    border-top: 1px solid #c4c8cc
    border-bottom: 1px solid #c4c8cc
    padding: 15px
  .none_posted
    text-align: center
    font-family: "Clarendon BT Roman"
    color: $cmorange
    padding: 70px 0px
    border: 0px

  .question_item
    font-size: 12px
    line-height: 18px
    color: #77706e
    a
      color: $cmbluebg
      text-decoration: none
      font-weight: 400
      font-size: 18px
      &:hover
        text-decoration: underline
  .see_answers, .invite_friends
    text-align: right
  .invite_friends
    width: 125px
  tfoot
    td
      text-align: center
      padding: 20px 0px
      border: 0px
      .disabled
        color: #c4c9cc
      .curr_page
        padding: 0px 20px
        color: $cmdarkgrey
      a
        color: $cmbluebg
        font-weight: bold
        text-decoration: none
        &:hover
          text-decoration: underline

.qimg_dlg
  display: none