.form_box
  .hdr
    p
      color: #666
      font-family: "Clarendon BT Roman"


.choices
  .label
    label
      width: auto !important

.choices-group
  width: 500px

  .choice
    display: block !important
    width: auto !important
    margin: 0px !important
    label
      width: auto !important
      line-height: 30px

