%p
  Hi #{@user.full_name},

  You've gotten enough answers to your question "#{@question.question_text}".  #{link_to "Click here", @url} to see what your friends answered!

  Thanks for using CritiqueMe!

= email_tracking @tracker_id