%html
  %body
    %p Woo hoo!  You have received at least 5 answers to your question, "#{@question.question_text_pretty}".  Are you ready to see the results?
    %p= link_to "Here they are!", @url
    %p
      Congrats!
      %br
      The CritiqueMe Team

    = email_tracking @tracker_id