#pitch_dlg
  #hdr Ever Wonder What People Are <em>Not</em> Telling You?
  #sub Get constructive, anonymous feedback from your peers
  #button= link_to "Get Started", '#'
  #three_steps= image_tag "path/three_steps.png"
  #ftr
    Your social network knows info they won't tell you directly!
    %em By using our anonymous answer app
    %br
    their identity is kept confidential so
    %em They tell you the real truth!