@import cm_base

.cm_content
  #landing_page
    text-align: center
    color: $cmdarkgrey
    #hdr1
      font-size: 28px
      color: $cmred
      font-family: "Clarendon BT Roman"
      padding: 15px 0px 5px
    #hdr2
      font-size: 16px
      font-family: "Clarendon BT Roman"
    #circles
      margin: 0px auto
      li
        list-style-type: none
        display: inline-block
        width: 200px
        vertical-align: top
        padding: 25px
        img
          clear: right
    #hdr3
      font-family: "Clarendon BT Roman"
      font-size: 16px
      padding-bottom: 10px
    #qs_today
      border: 1px solid #e2e2e2
      background: white
      @include border-radius(5px)
      width: 1000px
      margin: 0px auto
      margin-top: 25px
      margin-bottom: 25px
      padding: 15px 0px
      #headline
        font-family: "Clarendon BT Roman"
        padding: 5px 0px
      table
        padding: 0px
        margin: 0px auto
        td
          width: 260px
          padding: 10px 20px
          vertical-align: middle
          &.middle
            border-left: 1px solid #e2e2e2
            border-right: 1px solid #e2e2e2
          .qtext
            padding-bottom: 10px
          .qimg
            display: inline-block
            padding-right: 5px
          .qago
            display: inline-block
            font-size: 12px
            font-weight: bold
            vertical-align: top
            padding-top: 2px
