.cm_content
  Oops, you've found an error on our site, but we're looking into it.  Redirecting you back to our app...

- content_for :extra_javascripts do
  = javascript_include_tag 'errors/error_redirector'