%tr{:class => cycle('odd', 'even')}
  %td.user= link_to question.user.email, admin_user_path(question.user)
  %td.question= question.question_text
  %td.category= question.category ? link_to(question.category.name, admin_category_path(question.category)) : 'none'
  %td.actions