%html
  %body
    %p Hey there!  It's been a while since you last used CritiqueMe, so we wanted to reach out to see if we could help with anything.
    %p If you're having any problems at work, maybe you're considering a career change, or even if there's some stress at home, CritiqueMe is a great place to get some honest, friendly advice.
    %p Why not #{link_to "ask your friends about what's on your mind", new_question_url}?
    %p
      All the best,
      %br
      The CritiqueMe Team

    = email_tracking(@tracker_id)