.cm_content
  %h2 Contact Us
  %p We are in San Francisco, CA and would love to hear from you. To share feedback, compliments, job inquiries or even just to say hello, reach out to us at #{mail_to "contact@critiqueme.com"}. We respond to every legitimate email.
  %p Members of the press can reach us at #{mail_to "press@critiqueme.com"}.