- content_for :extra_css do
  = stylesheet_link_tag "questions/new_question"
  = stylesheet_link_tag "corporate"

.grad_bg
  .cm_content
    %h2 Frequently Asked Questions

    %h3 How is this different from other Q & A sites?
    %p Other question and answer sites can be great for getting technical help or generic relationship advice, but what about when you have a personal question and you need completely honest answers?
    %p No other site allows you to ask the hard questions, the questions you need totally honest answers to, from your friends or contacts in a private and anonymous setting. Every time you send a question to your friends with CritiqueMe, they know they can answer with the whole truth, because their answers are 100% anonymous. The asker will never know which answerer said what.
    %p This means the answers you get are the honest truth, every time.

    %h3 How do I share my question?
    %p After you create a question, we give you a unique link that is specific to the answer page for that question. You then have three main ways to share that link:
    %ol
      %li You can copy the link and paste it anywhere you want, like Facebook, Twitter, on your blog or in an email. Anyone who clicks that link will see your question and be invited to answer. You’ll see the answers, but not who shared them.
      %li You can use our importers to create a quick list of contacts you’d like to send the link to via email. We’ll create a simple email letting those contacts know that you have a personal question you’d like their input on. Just as above, those contacts can answer the question via the link totally anonymously.
      %li You can enter email addresses manually, and we’ll send those folks your link in an email. Anyone who receives the link will become an anonymous answerer of your question.

    %h3 I received a link to a CritiqueMe question from someone; how can I be sure my answer won’t be tracked back to me?
    %p We never share the names of answerers to CritiqueMe questions, and we will only show answers to the person who asked the question once at least 3 people have answered the question. This prevents the question asker from figuring out who said what.
    %p Anyone who invites you to answer a CritiqueMe question is looking for the unrestrained truth from you. Keep in mind that anything you write in response will be shared with the asker, and they will never see who wrote it. It’s your chance to be completely honest.

    %h3 What kinds of questions should I ask?
    %p You can ask anything you’d like on CritiqueMe. Many of our users take the opportunity to ask relationship, career, or even silly questions of their friends. Because every answerer knows she can say what she wants, it’s a great way to get totally candid responses to any burning question you have.

    %br
    %br

- content_for :extra_javascripts do
  = javascript_include_tag "questions/resize_cm_content"