@import cm_base

#before_see_answer, #see_answer
  text-align: center
  font-weight: bold
  font-size: 14px
  border: 2px solid #666
  padding: 10px 0px
  margin: 10px 0px

.bold_title
  text-align: center
  font-weight: bold
  font-size: 14px
  padding: 15px 0px

#spinner
  width: 100%
  text-align: center
  padding: 50px 0px

.canned_question
  width: 750px
  margin: 0px auto
  display: none
  color: $cmdarkgrey
  .qtext
    text-align: center
    font-size: 24px
    font-family: "Clarendon BT Roman"
    padding-top: 20px
  .choices
    text-align: center
    position: relative
    padding: 0px
    #qform
      text-align: left
      font-size: 12px
      font-weight: bold
      width: 480px
      margin: 0px auto
    ol
      margin-bottom: 0px
      padding: 0px
      li
        width: 150px
        margin: 10px
        height: 225px
        text-align: center
        display: inline-block
        vertical-align: middle
        div
          width: 150px
          margin: 0px auto
          &.image
            padding: 2px
            width: 130px
            margin-top: 10px
            height: 107px
            border: 1px solid #ececec
            border-top: 0px
            @include single-box-shadow(#CCCCCC, 0, 2px, 1px)
            .wrap
              line-height: 103px
              width: auto
              padding: 2px
              background: #f0f0f0
              img
                max-height: 100px
                display: inline-block
                vertical-align: middle
          &.name
            font-weight: 100
            font-size: 16px
            height: 45px
            margin: 5px 0px 15px
            overflow-y: hidden
          &.button
            height: 40px
            margin-top: 10px
            a
              font-family: "Clarendon BT Roman"
              color: white
              font-size: 14px
              padding: 10px 30px
              border: 1px solid #007acc
              @include background-image(linear-gradient(#47a8eb, #1688d6))
              @include border-radius(7px)
              cursor: pointer
  .canned_footer
    width: 100%
    text-align: center
    font-size: 10px
    padding: 10px 0px 30px
  .creator
    position: absolute
    width: 100%
    bottom: 10px
    left: 0px
    text-align: center
    font-size: 12px
    font-weight: bold
    a
      color: $cmblue
  .skip
    position: absolute
    bottom: 10px
    right: 10px
    font-size: 12px
    font-weight: bold
    a
      color: $cmblue

// enlarge the dialog title font size
#ui-dialog-title-post_share_dialog, #ui-dialog-title-canned_questions
  font-size: 16px
