@import "dashboard/inner_tabs"

// formtastic
.inputs
  padding: 0px

  li
    width: 99%
  label
    width: 150px !important
    font-size: 1.2em
    padding: 0.2em 0 !important
  input
    width: 400px
  select
    width: 411px

// custom question_type formtastic input
.qt_choices
  width: 530px
  float: left
  padding-left: 0px

  li
    width: 165px

.buttons
  margin-left: 170px
  padding-top: 15px

.inline-errors
  clear: left

.multi_choice
  padding: 0px

  label
    color: white !important


#multiple_choice_answers
  position: relative

  &.hidden
    display: none

  #add_answers
    padding-left: 190px
    font-weight: 1.2em
  #add_button
    position: absolute
    bottom: 3px
    right: 155px
