@import "dashboard/inner_tabs"
@import "compass"


// formtastic
.inputs
  padding: 0px

  li
    width: 99%
  label
    width: 150px !important
    font-size: 1.2em
    padding: 0.2em 0 !important
  input
    width: 400px
  select
    width: 411px

// custom question_type formtastic input
.qt_choices
  width: 530px
  float: left
  padding-left: 0px

  li
    width: 165px

.buttons
  margin-left: 170px
  padding-top: 15px
  li
    width: auto
  .spinner
    display: none
    padding-top: 10px

.inline-errors
  clear: left

.multi_choice
  padding: 0px

  label
    color: white !important


#multiple_choice_answers
  position: relative

  &.hidden
    display: none

  #add_answers
    padding-left: 190px
    font-weight: 1.2em
  #add_button
    position: absolute
    bottom: 3px
    right: 155px
#question_post_to_wall_input
  margin-left: 170px
  font-size: 10px
  input
    width: auto
    margin-right: 5px
    margin-top: 2px
  label
    width: auto !important


// questionnaires page
#single_questions
  ol
    padding-left: 0px
    list-style: decimal inside none
    li
      border: 2px solid #c5c5c5
      background: #e8e8e8
      color: #5e5e5e
      padding: 5px 10px
      margin-bottom: 10px
      cursor: pointer
      &.hover
        border-color: #535353
        @include background-image(linear-gradient(#ffffff, #e8e8e8))

#questionnaires
  ul
    padding-left: 0px
    list-style: none outside none
    li
      &.q
        border: 5px solid #c5c5c5
        padding: 5px
        cursor: pointer
        margin-bottom: 10px
        h5
          background: #e8e8e8
          padding: 3px
        ol
          padding: 5px
          list-style: decimal inside none
          li
            margin-bottom: 10px
      &.hover
        border-color: #535353
        @include background-image(linear-gradient(#ffffff, #e8e8e8))

#choices-header
  #title
    font-size: 1.8em
    font-weight: bold
    color: #969696
    span
      color: black
      font-size: 0.7em
  #blurb
    padding-top: 12px
    div
      float: left
      &#closer
        padding: 0px 3px
  #back
    text-align: right
    padding-top: 12px
#questionnaires-choice
  ol
    padding-left: 0px
    list-style: decimal inside none
    border-bottom: 1px solid #e6e6e6
    margin: 0px
    .question
      position: relative
      background: white
      border-top: 1px solid #e6e6e6
      padding: 10px 5px
      &.hover
        background: #f7f7f7
      .remover
        position: absolute
        top: 10px
        right: 10px
      .q
        font-weight: bold
        color: #6e7393
  .buttons
    margin-left: 0px

#qpage
  .byline
    font-size: 1.4em
    color: #969696
  .qimage
    float: left
    padding-top: 15px
    padding-right: 15px
  .qcontent
    float: left
    width: 90%
    .qtext
      font-size: 1.2em
      padding: 10px 0px
    .buttons
      float: right
      padding-top: 0px
      margin-left: 0px
    .answers
      .header
        background: #eaeaea
        font-weight: bold
        padding: 5px
      #none_yet
        text-align: center
        padding: 10px 0px
        background: #f6f6f6
      ol
        background: #f6f6f6
        margin: 0px
        list-style-position: inside
        li
          padding: 10px 5px

#answer_dialog
  display: none
  .byline
    padding-top: 15px
    color: #969696
  .qimage
    float: left
    padding-right: 15px
  .qcontent
    float: left
    padding-top: 10px
    .qtext
      font-size: 1.2em

    fieldset
      border: 0px
      margin: 0px
      label
        display: none
      ol
        list-style-type: none
        padding-left: 0px
        margin: 0px
        textarea
          width: 250px
          height: 80px
    .buttons
      margin: 0px
      padding: 10px 0px

    .choices-group
      .choice
        label
          display: block
          font-weight: normal
          input
            width: auto
            margin-right: 10px
  .answer_footer
    padding: 15px 0px

.buttons
  input
    width: auto
    padding: 10px 25px
    border: 1px solid #BBBBBB
    @include border-radius(5px, 5px)
    @include background-image(linear-gradient(#d2d2d2, white))

#answer_posted_dialog
  display: none
  .posted
    font-size: 1.2em
    font-weight: bold
    padding-bottom: 15px