@import cm_base2

body
  margin: 0px
  font-family: 'helvetica neue', helvetica, arial, sans-serif
  font-weight: 300
  background: #ade1f9

  a
    color: blue
    text-decoration: none
    &:hover
      text-decoration: underline
  .container
    position: relative

  #header
    width: 100%
    min-width: 900px
    height: 45px
    background: $cmbluebg
    position: fixed
    z-index: 100
    .hinner
      width: 990px
      margin: 0px auto
      position: relative
      #nav
        .button
          margin-top: -3px
    #logo
      padding: 5px 15px
      position: relative
      #tagline
        position: absolute
        left: 165px
        top: 15px
        font-size: 16px
        color: white
    #nav
      position: absolute
      top: 0px
      right: 20px
      margin: 0px
      padding: 0px
      line-height: 30px
      margin-top: 7px
      li
        list-style-type: none
        float: left
        padding: 0px 25px
        border-left: 1px solid #1a365f
        border-right: 1px solid #1a365f
        //margin-top: 7px
        a
          color: white
          text-decoration: none
        &.leftest
          border-left: 0px
        &.rightest
          border-right: 0px
        &#dummy
          border-left: 0px
        &.selected
          a
            color: #fe6c00
        &.button
          @include background-image(linear-gradient(#3cceee, #156bcb))
          border: 1px solid #0083cc
          @include border-radius(5px)
          margin: 4px 15px 0px
          padding: 5px 25px 5px 30px
          line-height: 25px
  #footer
    position: absolute
    bottom: 0px
    height: 50px
    width: 100%
    min-width: 1150px
    color: #9cdff7
    background: $cmbluebg
    z-index: 100
    font-size: 12px
    #finner
      width: 990px
      margin: 0px auto
      position: relative
    a
      color: #9cdff7
      text-decoration: none
      &:hover
        text-decoration: underline
    #copyright
      position: absolute
      right: 15px
      top: 17px
    #footer_twitter
      position: absolute
      right: 220px
      top: 10px
    #footer_facebook
      position: absolute
      right: 255px
      top: 10px
    #fnav
      width: 100%
      text-align: left
      line-height: 50px
      color: #45484b


#default_questions
  width: 95%
  margin: 0px auto
  border-collapse: collapse
  thead
    th
      font-size: 12px
      color: $cmbluebg
      border-bottom: 1px solid #c4c8cc
      font-weight: 400
      padding: 25px 10px 10px
      text-align: left
  tbody
    td
      padding: 15px 10px 25px
      color: #77706e
      border-top: 1px solid #c4c8cc
      border-bottom: 1px solid #c4c8cc
      .qtext
        font-size: 16px
        font-weight: bold
        padding-bottom: 5px
      .cat
        font-size: 12px
        a
          color: $cmbluebg
          font-weight: bold
          text-decoration: none
          &:hover
            text-decoration: underline
      &.askq
        width: 150px
      &.last_asked
        width: 110px
        font-weight: 400
  tfoot
    td
      text-align: center
      padding: 20px 0px
      .disabled
        color: #c4c9cc
      .curr_page
        padding: 0px 20px
        color: $cmdarkgrey
      a
        color: $cmbluebg
        font-weight: bold
        text-decoration: none
        &:hover
          text-decoration: underline

#chooseq_top
  font-family: "Myriad Pro Bold Cond"
  font-size: 20px
  color: $cmorange
  padding: 0px 0px 15px 90px
  width: 800px
  margin: 0px auto
  position: relative
  img
    vertical-align: bottom
    cursor: help
  a
    font-family: "Helvetica Neue"
    font-size: 14px
    cursor: help
    padding-left: 5px
  #chooseq_lightbox
    font-size: 12px
    position: absolute
    bottom: -60px
    right: 115px
    border: 2px solid black
    background: white
    display: none
    padding: 10px 15px
    width: 350px
    z-index: 500
    font-family: 'helvetica neue', helvetica, arial, sans-serif
    color: $cmdarkgrey
    @include border-radius(10px)
#chooseq_top2
  font-family: "Myriad Pro Bold Cond"
  width: 800px
  margin: 0px auto 15px
  padding-left: 90px


#qform
  .actions
    input
      &:hover
        color: $cmbluebg


.flash
  width: 90%
  margin: 20px auto
  text-align: center
  color: $cmbluebg !important
  p
    margin: 5px 0px
  .ui-icon
    display: none

.clearer
  clear: both

// dialogs
.ui-dialog
  .ui-dialog-titlebar
    background: transparent
    border: 0px
    font-size: 14px
    color: $cmred
    font-family: "Clarendon BT Roman"
    font-weight: normal
    width: 60%
    margin: 0px auto
    text-align: center
    position: static !important
    .ui-dialog-title
      float: none
    .ui-dialog-titlebar-close
      right: 10px
      top: 12px
      .ui-icon
        background-image: image-url('questions/dlg_close.jpg')
        background-position: center
        height: 25px
        width: 24px
      &.ui-state-hover
        border: 0px
        background: none
        padding: 1px