= content_for :side_menu do
  %ol.nav
    %li
      = link_to "New Question &raquo;".html_safe, new_admin_default_question_path

%h1
  CritiqueMe Default Questions

%table.merchants.smoothness.highlighter
  %thead
    %tr
      %th Priority
      %th Question
      %th Type
      %th Category
      %th Questionnaire
      %th &nbsp;
      %th &nbsp;
  %tfoot
    %tr
      %td{:colspan => 7}
        = will_paginate
  %tbody
    - if @default_questions.empty?
      %tr
        %td{:colspan => 7}
          %em No default questions found.
    - else
      = render @default_questions
